<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>URLazy</title>

        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="angular.min.js"></script>
        <script type="text/javascript" src="AppController.js"></script>
    </head>

    <body ng-controller="AppController">
    <h1>URLazy</h1>
    <p>This app was created for lazy people who don't want to type the entire website URL. <br>By adding an alias, you can save valuable milliseconds of your life! Want to go to google.com?
        <br>Who has time to actually type "google.com" nowadays. Now, all you have to do is just type "g"!</p>
    <h2>How it works:</h2>
    <ul>
        <li>Type in an alias</li>
        <li>Type in a url to reference alias</li>
        <li><strong>Now you can reference which URL you want to shortcut!</strong></li>
    </ul>
        <table>
            <tr>
                <th>Alias</th>
                <th>URL</th>
            </tr>
            <tr>
                <td colspan="2">
                    Alias: <input type="text" ng-model="alias"/>
                    URL: <input type="text"ng-model="url"/>
                    <button ng-click="addMapping()">Add mapping</button>
                    <br>
                </td>
            </tr>
            <tr ng-repeat="mapping in mappings">
                <td>{{mapping.alias}}</td>
                <td>{{mapping.url}}</td>

            </tr>
        </table>
    </body>
</html>
