<!doctype html>
<html>
    <head>
        <title>redirector: Mappings</title>
        <script type="text/javascript" src="./socket.io/socket.io.js"></script>
        <script type="text/javascript" src="../public/angular.min.js"></script>
    </head>

    <body>
        <h1>Mappings</h1>
        <table>
            <tr>
                <th>Alias</th>
                <th>URL</th>
            </tr>
        </table>
    </body>
</html>
